@page "/greeting"

<h2>Greeting</h2>

<input @bind="InputValue" @bind:event="oninput"/>

<p>Hello, @InputValue</p>

<button class="btn btn-primary" @onclick="DisplayText">Display Text</button>

<p>@SomeInputText</p>

@code {
    public string InputValue { get; set; }

    public string SomeInputText { get; set; }

    private void DisplayText()
    {
        SomeInputText = string.IsNullOrWhiteSpace(InputValue) ? "please enter text" : $"special text for: {InputValue}";

    }
}
